@model List<SurveyResultsByUserViewModel>

<h1 align="center">@Model.FirstOrDefault().Survey.SurveyName </h1>

<hr>
<div class="table-responsive">
    <table class="table table-striped">

        <thead>
            <tr>
                <th>
                    Cluster
                </th>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cluster)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>