@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>
    We are a SaaS company committed to serving out research community.This service was created for the CSC 394 Senior Capstone
    Winter quarter class for the 2016/17 school year at DePaul Univeristy.
</p>
<h2>Meet the Creators</h2>
<div id="staff">
    <section id="people">
        <article class="one_one_three">
            <figure>
                <img src="placeholder.png" width="290" height="180"
                     alt="Picture of Emmanuel Rodriguez" />
                <figcaption>
                    <h3>Emmanuel Rodriguez</h3>
                    <p>
                        Information Systems Major</br>
                        Lead Software and Cloud Engineer
                    </p>
                </figcaption>
            </figure>
        </article>
        <article class="one_two_three">
            <figure>
                <img src="placeholder.png" width="290" height="180"
                     alt="Picture of Chezka Eusebio" />
                <figcaption>
                    <h3>Chezka Eusebio</h3>
                    <p>
                        Computer Science Major</br>
                        Software Engineer - Front End
                    </p>
                </figcaption>
            </figure>
        </article>
        <article class="one_three_three">
            <figure>
                <img src="placeholder.png" width="290" height="180"
                     alt="Picture of Travis Zillmer " />
                <figcaption>
                    <h3>Travis Zillmer</h3>
                    <p>
                        Computer Science Major</br>
                        Technical Communications Specialist
                    </p>
                </figcaption>
            </figure>
        </article>
    </section>
    <section id="people">
        <article class="two_one_three">
            <figure>
                <img src="placeholder.png" width="290" height="180"
                     alt="Picture of Andres Calzada" />
                <figcaption>
                    <h3>Andres Calzada</h3>
                    <p>
                        Computer Science Major</br>
                        Software Engineer - Back End
                    </p>
                </figcaption>
            </figure>
        </article>
        <article class="two_two_three">
            <figure>
                <img src="placeholder.png" width="290" height="180"
                     alt="Picture of Samuel Gillies" />
                <figcaption>
                    <h3>Samuel Gillies</h3>
                    <p>
                        Computer Science Major</br>
                        Algorithm Design
                    </p>
                </figcaption>
            </figure>
        </article>
        <article class="two_three_three">
            <figure>
                <img src="placeholder.png" width="290" height="180"
                     alt="Picture of Serafin Balcazar" />
                <figcaption>
                    <h3>Serafin Balcazar</h3>
                    <p>
                        Computer Science Major</br>
                        Technical Writer
                    </p>
                </figcaption>
            </figure>
        </article>
    </section>
</div>